@using dotnet60_example.Resources
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment _env
@inject Microsoft.Extensions.Configuration.IConfiguration _config
@inject dotnet60_example.Helpers.SessionHelper _sessionHelper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@_config["SystemName"] - @ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico">
    <link rel="stylesheet" href="~/lib/simple-datatables/dist/style.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/choices.js/public/assets/styles/choices.min.css" />
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/echarts/echarts.min.js"></script>
    <script src="~/lib/svg.js/svg.min.js"></script>
    <script src="~/lib/svg.js/svg.panzoom.js/dist/svg.panzoom.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/lib/simple-datatables/dist/umd/simple-datatables.min.js"></script>
    <script src="~/lib/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
</head>
<body>
    <header>
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3 fw-bold" asp-controller="DefectRecords" asp-action="Create">@_config["SystemName"]</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Test Environment Remark-->
            <environment include="Staging,Development">
                <strong class="text-danger">@Language.TestEnvironment</strong>
            </environment>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group d-none">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        @*<li><a class="dropdown-item" href="#!">Settings</a></li>*@
                        @*<li><a class="dropdown-item" href="#!">Activity Log</a></li>*@
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" asp-controller="Login" asp-action="Logout">@Language.Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    @*-----------------Sidenav-----------------------*@
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" asp-controller="Account" asp-action="List">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            帳號管理
                        </a>
                        <div class="sb-sidenav-menu-heading">Management</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#account" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            帳號管理
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="account" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-controller="Account" asp-action="List">帳號管理</a>
                                <a class="nav-link" asp-controller="Role" asp-action="List">角色管理</a>
                                <a class="nav-link" asp-controller="Permission" asp-action="List">權限管理</a>
                            </nav>
                        </div>
                        @* <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#report" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            報表管理
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="report" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-controller="Report" asp-action="Report">XXX報表</a>
                            </nav>
                        </div> *@
                        @*<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Pages
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                        Authentication
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="login.html">Login</a>
                        <a class="nav-link" href="register.html">Register</a>
                        <a class="nav-link" href="password.html">Forgot Password</a>
                        </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                        Error
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="401.html">401 Page</a>
                        <a class="nav-link" href="404.html">404 Page</a>
                        <a class="nav-link" href="500.html">500 Page</a>
                        </nav>
                        </div>
                        </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Addons</div>
                        <a class="nav-link" href="charts.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Charts
                        </a>
                        <a class="nav-link" href="tables.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Tables
                        </a>*@
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    @_sessionHelper.GetUserSession().UserName
                </div>
            </nav>
        </div>

        @*-----------------Content-----------------------*@
        <div id="layoutSidenav_content">
            <main role="main">
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light d-none">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; @_config["CompanyName"] 2023</div>
                        <div>
                            <span>@_env.EnvironmentName</span>
                            &mid;
                            <span>@_config["Version"]</span>
                            &mid;
                            <span>@_config["AppSetting"]</span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @*--------------------------------------------*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script defer type="text/javascript">
    const block = () => {
        document.getElementById('overlay').style.display = 'block';
    }

    const unblock = () => {
        document.getElementById('overlay').style.display = 'none'
    }
</script>