@using dotnet60_example.Resources
@model IList<dotnet60_example.ViewModels.AccountVM>
@inject dotnet60_example.Helpers.SessionHelper _sessionHelper

<div class="card-header">
    <i class="fas fa-table me-1"></i>
    @Language.AccountList
</div>
<div class="card-body">
    <table id="datatables" class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>@Language.UserId</th>
                <th>@Language.UserName</th>
                <th>@Language.Email</th>
                <th>@Language.D1Name</th>
                <th>@Language.D2Name</th>
                <th>@Language.D3Name</th>
                <th>@Language.IsActive</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vm in Model)
            {
                <tr>
                    <td>
                        <div class="d-flex justify-content-evenly">
                            @if (_sessionHelper.GetUserSession().HasPermission("Account", "Edit"))
                            {
                                <button class="btn btn-sm btn-info" data-bs-toggle="modal"
                                        data-bs-target="#editModal" onclick="prepareEditModal('@vm.UserId')">
                                    @Language.Edit
                                </button>
                            }
                            @if (_sessionHelper.GetUserSession().HasPermission("Account", "Delete"))
                            {
                                <button class="btn btn-sm btn-danger" onclick="confirmDelete('@vm.UserId')">
                                    @Language.Delete
                                </button>
                            }

                        </div>
                    </td>
                    <td>@vm.UserId</td>
                    <td>@vm.UserName</td>
                    <td>@vm.Email</td>
                    <td>@vm.D1Name</td>
                    <td>@vm.D2Name</td>
                    <td>@vm.D3Name</td>
                    <td>@(vm.IsActive ? @Language.Yes : @Language.No)</td>
                </tr>
            }
        </tbody>
    </table>
</div>